.text-theme,
.text-hover-theme a:hover,
.text-hover-theme .active > a {
  color: #53a6fa !important; }

  .nav-active-theme .nav-link.active,
.nav-active-theme .nav-link.actived,
.nav-active-theme .nav > li.active > a,
.btn.theme,
.btn.b-theme:hover,
.btn.b-theme:focus,
.pace .pace-progress,
.theme {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #e9d16f !important; }

.b-theme,
.nav-border,
nav.nav-border {
  border-color: #e9d16f !important; }

.btn.theme-accent,
.btn.b-theme-accent:hover,
.btn.b-theme-accent:focus {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #22b66e !important; }

.theme-accent {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #22b66e !important; }

.sidenav .nav-border .active > a,
.sidenav .nav-active-text .active > a,
.sidenav .nav-active-text .actived {
  color: #e9d16f; 
}

.fill-theme {
  fill: #e9d16f; }

.stroke-theme {
  stroke: #e9d16f; 
}
.dark{
  background-color: #031629 !important;
}