<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<!-- content -->
<div>

    <!-- section -->
    <section class="layout_padding team_section" style="background-image: url('static/fnt/images/bg3_new.png');background-position: center center;background-repeat: no-repeat;">
        <div class="container">

            <div class="row">

                <div class="layout_error">

                    <h3>500 : Error</h3>
                    <p class="large">OOOPS, INTERNAL SERVER ERROR!</p>
                    <p>internal Server Error Occurred, Contact Administrator.</p>
                    <div class="center">
                        <a href="/" class="btn main_btn">Back Home</a>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- end section -->
</div>
<%- include('../partials/footer.ejs') %>