<footer class="sect s9">
    <div class="cont">
        <div class="top_footer">
            <div class="logosocial">
                <div>
                        <h3 style="color: skyblue;font-size: 30px;">CoinRemits</h3>
                    <div class="soc_wrap">
                        <a href="#" class="soc w-inline-block">
                            <img src="/static/user/assets/images/twitter.svg" alt="twitter" />
                        </a>
                        <a href="#" class="soc w-inline-block">
                            <img src="/static/user/assets/images/fb.svg" alt="facebook" />
                        </a>
                        <a href="#" class="soc w-inline-block">
                            <img src="/static/user/assets/images/iconmonstr-medium-1.svg" alt="medium" />
                        </a>
                        <a href="#" class="soc w-inline-block">
                            <img src="/static/user/assets/images/telegram.svg" alt="telegram" />
                        </a>

                        <a href="#" target="_blank"
                            class="soc w-inline-block">
                            <img src="/static/user/assets/images/linkedin.svg" alt="linkedin" /></a>
                    </div>
                </div>
            </div>
            <div class="links_footer">
                <div class="link_wrapper">
                    <h4>Company</h4>
                    <div class="links">
                        <a href="contact" class="footer_link">Contact</a>
                        <a href="help@CoinRemits.com" class="footer_link" target="_blank"
                            rel="nofollow">Help</a>
                    </div>
                    <br /><br />
                </div>
                <div class="link_wrapper seclw">
                    <h4>Legal</h4>
                    <div class="links">
                        <a href="privacy-policy" class="footer_link">Privacy policy</a>
                        <a href="terms-condition" class="footer_link">Terms of use</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_footer_wrap">
            <div>© CoinRemits 2019. All rights reserved.</div>
        </div>
    </div>
</footer>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/static/user/assets/js/paymentx.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</body>

</html>