<footer class="sect s9">
    <div class="cont">
        <div class="top_footer">
            <div class="logosocial">
                <div>
                    <a href="/" class="w-inline-block w--current"><img src="/static/user/assets/images/Text-logo dark.png"
                            alt="" /></a>
                    <div class="soc_wrap">
                        <a href="https://twitter.com/Payment_X" target="_blank" class="soc w-inline-block"><img
                                src="/static/user/assets/images/twitter.svg" alt="twitter" /></a>
                        <a href="https://www.facebook.com/coinremit/" target="_blank" class="soc w-inline-block"><img
                                src="/static/user/assets/images/fb.svg" alt="facebook" /></a>
                        <a href="https://medium.com/coinremit" target="_blank" class="soc w-inline-block"><img
                                src="/static/user/assets/images/iconmonstr-medium-1.svg" alt="medium" /></a>
                        <a href="https://t.me/coinremit" target="_blank" class="soc w-inline-block">
                            <img src="/static/user/assets/images/telegram.svg" alt="telegram" /></a>

                        <a href="https://www.linkedin.com/company/coinremit/" target="_blank"
                            class="soc w-inline-block">
                            <img src="/static/user/assets/images/linkedin.svg" alt="linkedin" /></a>
                    </div>
                </div>
            </div>
            <div class="links_footer">
                <div class="link_wrapper">
                    <h4>Company</h4>
                    <div class="links">
                        <a href="/contact" class="footer_link">Contact</a>
                        <a href="/contact" class="footer_link" target="_blank"
                            rel="nofollow">Help</a>
                    </div>
                    <br /><br />
                </div>
                <div class="link_wrapper seclw">
                    <h4>Legal</h4>
                    <div class="links">
                        <a href="/privacy-policy" class="footer_link">Privacy policy</a>
                        <a href="/terms-conditions" class="footer_link">Terms of use</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_footer_wrap text-center">
            <div>© Coinremits 2020. All rights reserved.</div>
        </div>
    </div>
</footer>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/static/user/assets/js/paymentx.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="/static/user/assets/js/app.min.js"></script>

<script>
    $(document).ready(()=>{
        getrate=async(wal)=>{
            rate = await axios.get('https://api.coingecko.com/api/v3/coins/'+wal)
            return rate.data.market_data.current_price.usd
        }
        console.log("here")
        price = getrate("bitcoin")
        var title = document.getElementById('rates');
        title.value = (value/price).toFixed(2)
        console.log('header',title.value)
        
    })
</script>
</body>

</html>
