<header class="sect s1">
        <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
            <div class="cont nav-cont">
                <a href="/" class="brand w-nav-brand w--current">
                    <img src="/static/user/assets/images/Text-logo-white.svg" alt="">
                </a>
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="#" class="payment_logo w-nav-brand"><img src="./static/user/assets/images/Text-logo dark.png" alt="" /></a>
                    <div class="nebu_wrap">
                        <a href="#" class="nlink w-nav-link text-white">Contact</a>
                        <a href="#" class="nlink w-nav-link text-white" target="_blank"
                            rel="nofollow">About</a>
                        <p class="nlink w-nav-link text-white">BTC/USD <span id="rates">7,423.01</span></p>
                    </div>
                    <div class="signup-in_wrap">
                        <a href="/user/register" class="sign_up mr-3 text-white m-sign_up" rel="nofollow">Sign Up</a>
                        <a href="/user/login" class="sign_in text-white m-sign_in" rel="nofollow">Sign In</a>
                    </div>
                </nav>