
<body>
    <header class="sect s1">
        <div data-collapse="medium" data-animation="default" data-duration="400"
            data-w-id="9aa8a9a4-7090-63f7-9907-1ce56643ef07" class="navbar w-nav">
            <div class="cont nav-cont">
                <a href="/" class="brand w-nav-brand w--current">
                    <h3 style="color: blue;font-size: 30px;">CoinRemits</h3>
                </a>
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="#" class="payment_logo w-nav-brand">
                        <h3 style="color: blue;font-size: 30px;">CoinRemits</h3>
                    <div class="nebu_wrap">
                        <a href="contact" class="nlink w-nav-link">Contact</a>
                        <a href="terms-condition" class="nlink w-nav-link" rel="nofollow">Help</a>
                        <a href="#" class="nlink w-nav-link">BTC/USD <span>7,423.01</span></a>
                    </div>
                    <div class="signup-in_wrap">
                        <a href="/user/register" class="sign_up" rel="nofollow">Sign Up</a>
                        <a href="/user/login" class="sign_in" rel="nofollow">Sign In</a>
                    </div>
                </nav>