<!DOCTYPE html>
<html lang="en">
   
   <head>
      <!-- Basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- Site Metas -->
      <title>Coinremits</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Site Icons -->
      <link rel="icon" href="/static/fnt/images/fevicon/fevicon.gif" type="image/gif" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/static/fnt/css/bootstrap.min.css" />
      <!-- Site CSS -->
      <link rel="stylesheet" href="/static/fnt/css/style.css" />
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/static/fnt/css/responsive.css" />
      <!-- Colors CSS -->
      <link rel="stylesheet" href="/static/fnt/css/colors.css" />
      <!-- Custom CSS -->
      <link rel="stylesheet" href="/static/fnt/css/custom.css" />
      <!-- Counter CSS -->
      <link rel="stylesheet" href="/static/fnt/css/jquery.countdown.css" />
      <!-- Wow Animation CSS -->
      <link rel="stylesheet" href="/static/fnt/css/animate.css" />
      <!-- Market value slider CSS -->
      <link rel="stylesheet" type="text/css" href="/static/fnt/css/carouselTicker.css" media="screen" />
      <link href="https//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>