            <div class="burger-1 w-nav-button">
                <div class="b1-bar1"></div>
                <div class="b1-bar2">
                    <div class="b1-middle"></div>
                </div>
                <div class="b1-bar3"></div>
            </div>
        </div>
    </div>
    <div class="cont">
        <div class="contheader">
            <div id="w-node-5c4d11094ecb-1d611698" class="text_wrap_header">
                <h1 data-w-id="9a64d915-501f-17eb-2997-77915fe595e8">
                    The future of money is here
                </h1>
                <div data-w-id="4551afe9-8731-2448-7a9f-41b486ed1375" class="sub1">
                    Crypto is the easiest way to buy, sell and accept cryptocurrencies globally.
                </div>
            </div>
            <div id="w-node-abe9f0ce1e56-1d611698" data-w-id="39b92d36-d5d5-d633-4e18-abe9f0ce1e56"
                class="im3_cont">
            </div>
            <div class="row" >
                <div class="col-6">
                    <a href="/user/login" class="sc-gzVnrw gJOssB" rel="nofollow">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</header>