<%- include('../../partials/top') %>
<!-- main content -->
<div class="content-main" id="content-main">
    <div>
        
    </div>
</div>
<!-- end main content -->
<%- include('../../partials/footer') %>