<%- include('../../partials/top') %>
    <div class="padding">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-md-5">
                <div class="box">
                    <div class="box-body">
                        <div class="col">
                            <h4>Payment Details</h4>
                            <p>Amount to Transfer </p>
                            <p>USD $<%=data.amountUSD%></p>
                        </div><hr/>
                        <div class="col">
                            <h4>Beneficiary Information</h4>
                            <p>Name<br/> Coinremits </p>
                            <p>Address<br/>Smolenskiy bulvar 30 /32  Moscow  119002  tel  +74992411605</p>
                        </div><hr/>
                        <div class="col">
                            <h4>Bank Information</h4>
                            <p>NAME<br/> BANK SBERBANK OF RUSSIA</p>
                            <p>SETTLEMENT AGENT<br/>EVAN MORRIS</p>
                            <p>CHECKING ACCOUNT NUMBER<br/>40820840355860041646</p>
                            <p>BANK ADDRESS:<br>SBERBANK..( SEVERO-ZAPADNY SAINT PETERSBURG RUSSIA )</p>
                            <p>SWIFT CODE<br/>SABRRU2P.</p>
                            <p>ST.PETERSBUG CODE <br/>190000</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="box">
                    <div class="box-body">
                    <p>Now that you've created your order, the next step is to send a wire transfer to complete your order. Your payment instructions should provide you with three key pieces of information:</p>
                    <p><strong>Payment Details: </strong> You will find the exact amount to transfer here.</p><p>
                    <strong>Beneficiary Information:</strong> This is the recipient name and address where you will be sending your wire transfer to.</p>
                    <p><strong>Bank Information:</strong> This is Coinremits's bank information that will be required for you to complete your transaction.</p>
                    <p>Here are some additional tips to ensure that your wire transfer is completed correctly:</p>
                    <p>Make sure to send the exact amount owed as well as any applicable fees on your end (your bank will notify you of any fees they may charge). Your account will be credited with the exact amount we receive.
                    You must initiate payment within the next 24 hours otherwise conditions for this order may change without advance notice.</p>
                    <p>As a reminder, the name on your bank account must match the name registered to your Coinremits account. Otherwise, the payment may be delayed or rejected and will result in lost transaction fees.
                    Please also include the reference code (exactly as shown) if given the ability to write a note with the payment.</p>
                    <p>If you correctly follow the payment instructions, your funds will be available as soon as the payment has been received and processed by our team! Please note that wire transfers can generally take up to 72 business hours, depending on your bank's processing times. After Coinremits has received the payment for your order, your cryptocurrency will be credited into your accordingly.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
<%- include('../../partials/footer') %>