<div>
<%if(message) {%>
	<%if(message.success) {%>
		<div class="alert alert-sm alert-success">
			<p class="m-0"><%= message.success %></p>	
		</div>
	<%}%>		
	<%if(message.error) {%>
		<div class="alert alert-sm alert-warning">
			<p class="m-0"><%= message.error %></p>	
		</div>
	<%}%>
<%}%>
</div>