<div id="content" class="app-content box-shadow-1 box-radius-1" role="main">
    <div class="content-header white box-shadow-1" id="content-header">
        <div class="navbar navbar-expand-lg"><a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                    <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" /></svg></a>
            <div class="navbar-text nav-title flex" id="pageTitle"><%=title%></div>
            <ul class="nav flex-row order-lg-2">
                <li class="dropdown d-flex align-items-center"><a href="#" data-toggle="dropdown" class="d-flex align-items-center"><span class="avatar w-32"><img src="/static/user/assets/user.png" alt="..."></span></a>
                    <div class="dropdown-menu dropdown-menu-right w pt-0 mt-2 animate fadeIn">
                        <div class="row no-gutters b-b mb-2">
                            <div class="col-6 b-r"><a href="/user/settings" class="py-2 pt-3 d-block text-center"><i class="fa text-md fa-gear text-muted"></i> <small class="d-block">Setting</small></a></div>
                            <div class="col-6"><a href="/user/logout" class="py-2 pt-3 d-block text-center">
                                <i class="fa text-md fa-sign-out text-muted"></i> <small class="d-block">Signout</small></a></div>
                        </div>
                    </div>
                </li>
                <li class="d-lg-none d-flex align-items-center"><a href="#" class="mx-2" data-toggle="collapse" data-target="#navbarToggler"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                    <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z" /></svg></a></li>
            </ul>
        </div>
    </div>