<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><%=site_title%> Dashboard</title>
	<meta name="description" content="Responsive, Bootstrap, BS4">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="apple-touch-icon" href="http://flatfull.com/themes/apply/assets/images/logo.svg">
	<link rel="shortcut icon" sizes="196x196" href="http://flatfull.com/themes/apply/assets/images/logo.svg">
	<link rel="stylesheet" href="/static/user/assets/icons/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/user/assets/icons/cryptocoins/css/cryptocoins.css" type="text/css">
	<link rel="stylesheet" href="/static/user/assets/icons/cryptocoins/css/cryptocoins-colors.css" type="text/css">
	<link rel="stylesheet" href="/static/user/assets/css/app.min.css">
	<link rel="stylesheet" href="/static/user/assets/css/primary.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div class="app" id="app">