<!-- sidebar -->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="" aria-expanded="true">
                    <i class="fa fa-dashboard"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="user/blank" aria-expanded="false">
                    <i class="fa fa-line-chart"></i>
                    <span class="nav-text">Trading</span>
                </a>
            </li>

            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa fa-bolt"></i>
                    <span class="nav-text">Marketcap</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa fa-btc"></i>
                    <span class="nav-text">ICO</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa fa-usd"></i>
                    <span class="nav-text">Buy and Sell Crypto</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa fa-credit-card"></i>
                    <span class="nav-text">My Wallet</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa fa-refresh"></i>
                    <span class="nav-text">Currency Exchange</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa fa-question-circle"></i>
                    <span class="nav-text">FAQ</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #/ nk nav scroll -->
</div>
<!-- #/ sidebar -->
    