<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div>
    
    <section id="inner_page_infor" class="innerpage_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="inner_page_info">
                            <h3>About Us</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- section -->
     <section class="padding_0 info_coins">
        <div class="container">
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="full">
                    <h2 style="display:none;">heading</h2>
                    <div class="coin_formation">
                       <ul>
                          <li>
                             <span class="curr_name">Bitcoin Price</span>
                             <span id="usd_curr_price" class="curr_price">23456 USD</span>
                          </li>
                          <li>
                             <span class="curr_name">Bitcoin Price</span>
                             <span id="eur_curr_price" class="curr_price">2321.68 EUR</span>
                          </li>
                          <li>
                             <span class="curr_name">24H Volume</span>
                             <span id="btc_curr_price" class="curr_price">1,957.25 BTC</span>
                          </li>
                          <li>
                             <span class="curr_name">Active Traders</span>
                             <span class="curr_price">1,169,857 EUR</span>
                          </li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- end section -->


    <!-- section -->
    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full our_work_type">
                        <div class="center"><img src="/static/fnt/images/icon_1_b.png" alt="#" /></div>
                        <div class="center">
                            <h4>Licensed in Russia</h4>
                        </div>
                        <div class="center">
                            <p>Assistance in getting a cryptocurrency license: cryptocurrency wallet services and service of exchanging a virtual currency</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full our_work_type">
                        <div class="center"><img src="/static/fnt/images/icon_2_b.png" alt="#" /></div>
                        <div class="center">
                            <h4>No Hidden Fees</h4>
                        </div>
                        <div class="center">
                            <p>Each cryptocurrency network has its own transaction fee. We charge 1% for the currency exchange. That’s it — no hidden fees or unfair costs. Take advantage of our instantaneous conversion and let your money go further</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full our_work_type">
                        <div class="center"><img src="/static/fnt/images/icon_3_b.png" alt="#" /></div>
                        <div class="center">
                            <h4>Instant Trading</h4>
                        </div>
                        <div class="center">
                            <p>Market moving? Don’t stress. Buy, sell, and exchange crypto without leaving your secure wallet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full our_work_type">
                        <div class="center"><img src="/static/fnt/images/icon_4_b.png" alt="#" /></div>
                        <div class="center">
                            <h4>Secure and Transparent</h4>
                        </div>
                        <div class="center">
                            <p>Bitcoin works with an unprecedented level of transparency that most people are not used to dealing with. All Bitcoin transactions are public, traceable, and permanently stored in the Bitcoin network</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 pull-right img_bit1">
                    <div class="full center_text">
                        <img class="img-responsive" src="/static/fnt/images/coin_png.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 pull-left">
                    <div class="full">
                        <h3>Buy, sell and Exchange store crypto coin with confidence</h3>
                        <div class="graph_img">
                            <img class="img-responsive" src="/static/fnt/images/graph1.jpg" alt="#" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <section class="layout_padding about_bg_compu">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="full">
                        <h2 class="heading_style2">The future of Money is here</h2>
                        <p class="left_text">The president of the Russian direct investment Fund (RDIF) Kirill Dmitriev, came up with the proposal to create a common cryptocurrency for servicing a unified payment system of the member countries. </p>
                        <p class="left_text">The system was initiated after the BRICS summit, which took place in Brazil in mid-November 2018. And this idea of a unified payment system has already received the backing of the BRICS business council and it is in line with the modernization of the payment on a central liquidity management system</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
</div>
<%- include('./partials/footer.ejs') %>