<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div>
    
    <section id="inner_page_infor" class="innerpage_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="inner_page_info">
                            <h3>About Us</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section -->
    <div class="padding_0 info_coins">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="coin_formation">
                            <ul>
                                <li>
                                    <span class="curr_name">Bitcoin Price</span>
                                    <span class="curr_price">2395.00 USD</span>
                                </li>
                                <li>
                                    <span class="curr_name">Bitcoin Price</span>
                                    <span class="curr_price">2321.68 EUR</span>
                                </li>
                                <li>
                                    <span class="curr_name">24H Volume</span>
                                    <span class="curr_price">1,957.25 BTC</span>
                                </li>
                                <li>
                                    <span class="curr_name">Active Traders</span>
                                    <span class="curr_price">1,169,857 EUR</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->


    <!-- section -->
    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full our_work_type">
                        <div class="center"><img src="/static/fnt/images/icon_1_b.png" alt="#" /></div>
                        <div class="center">
                            <h4>Licensed in Russia</h4>
                        </div>
                        <div class="center">
                            <p>Assistance in getting a cryptocurrency license: cryptocurrency wallet services and service of exchanging a virtual currency</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full our_work_type">
                        <div class="center"><img src="/static/fnt/images/icon_2_b.png" alt="#" /></div>
                        <div class="center">
                            <h4>No Hidden Fees</h4>
                        </div>
                        <div class="center">
                            <p>Each cryptocurrency network has its own transaction fee. We charge 1% for the currency exchange. That’s it — no hidden fees or unfair costs. Take advantage of our instantaneous conversion and let your money go further</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full our_work_type">
                        <div class="center"><img src="/static/fnt/images/icon_3_b.png" alt="#" /></div>
                        <div class="center">
                            <h4>Instant Trading</h4>
                        </div>
                        <div class="center">
                            <p>Market moving? Don’t stress. Buy, sell, and exchange crypto without leaving your secure wallet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full our_work_type">
                        <div class="center"><img src="/static/fnt/images/icon_4_b.png" alt="#" /></div>
                        <div class="center">
                            <h4>Secure and Transparent</h4>
                        </div>
                        <div class="center">
                            <p>Bitcoin works with an unprecedented level of transparency that most people are not used to dealing with. All Bitcoin transactions are public, traceable, and permanently stored in the Bitcoin network</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 pull-right img_bit1">
                    <div class="full center_text">
                        <img class="img-responsive" src="/static/fnt/images/coin_png.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 pull-left">
                    <div class="full">
                        <h3>Buy, sell and Exchange store crypto coin with confidence</h3>
                        <div class="graph_img">
                            <img class="img-responsive" src="/static/fnt/images/graph1.jpg" alt="#" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <section class="layout_padding about_bg_compu">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="full">
                        <h2 class="heading_style2">Looking for a First-Class Cryptocurrency Expert?</h2>
                        <p class="left_text">We’ve taken a huge challenge and made it into our mission: To create an open financial system for the world. To achieve this, we are building a team of smart, creative, passionate optimists, the kind of people who see opportunity where others see roadblocks</p>
                        <p class="left_text">Founded in June of 2012, Coinremits is a digital currency wallet and platform where merchants and consumers can transact with new digital currencies like bitcoin, ethereum, and litecoin</p>
                        <p class="left_text">Bitcoin is the world's most widely used alternative currency with a total market cap of over $100 billion. The bitcoin network is made up of thousands of computers run by individuals all over the world</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <section class="layout_padding dark_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Our Pricing Plan</span></h2>
                            <p>Exchange Transactions of your referred users Bitcoin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.0108034 BTC</h3>
                                <p></p>
                                <p class="price_table">$ 100.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="/user/register">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full focus_sell">
                        <div class="coin_selling_bt">
                            <ul>
                                
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.0540172 BTC</h3>
                                <p></p>
                                <p class="price_table">$ 500.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="/user/register">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.1079766 BTC</h3>
                                <p></p>
                                <p class="price_table">$ 1000.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="/user/register">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.4323307 BTC</h3>
                                <p></p>
                                <p class="price_table">$ 4000.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="/user/register">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    
   
</div>
<%- include('./partials/footer.ejs') %>