<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div>
    <section id="inner_page_infor" class="innerpage_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="inner_page_info">
                            <h3>Buy & Sell</h3>
                            <ul>
                                <li><a href="leocur.com">Home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">Coin Features Pages</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">Buy & Sell</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section -->
    <section class="padding_0 info_coins">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <h2 style="display:none;">heading</h2>
                        <div class="coin_formation">
                            <ul>
                                <li>
                                    <span class="curr_name">Bitcoin Price</span>
                                    <span class="curr_price">8,625.42 USD</span>
                                </li>
                                <li>
                                    <span class="curr_name">Bitcoin Price</span>
                                    <span class="curr_price">7,778.69 EUR</span>
                                </li>
                                <li>
                                    <span class="curr_name">24H Volume</span>
                                    <span class="curr_price">50,957.25 BTC</span>
                                </li>
                                <li>
                                    <span class="curr_name">Active Traders</span>
                                    <span class="curr_price">1,567,169,857 EUR</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="layout_padding">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="price_coins">
                            <p class="bit_coin_descr3">Can you input a custom amount:</p>
                            <p class="bit_coin_price">1 Bitcoin equals 8,625.42 US Dollar</p>
                        </div>
                        <div class="price_coin_cal">
                            <form>
                                <fieldset>
                                    <div class="field_set col-md-1"></div>
                                    <div class="field_set col-md-4">
                                        <select>
							      <option>BTC</option>
								  <option>ETH</option>
								  <option>XRP</option>
								  <option>BCH</option>
								  <option>ADA</option>
								  <option>LTC</option>
								  <option>NEO</option>
								  <option>XLM</option>
								  <option>EOS</option>
								  <option>XEM</option>
								  <option>MIOTA</option>
								  <option>DASH</option>
								  <option>XMR</option>
								  <option>TRX</option>
								  <option>LSK</option>
								  <option>USDT</option>
							   </select>
                                    </div>
                                    <div class="field_set col-md-4">
                                        <select>
							      <option>USD</option>
								  <option>EUR</option>
								  <option>AOA</option>
								  <option>XCD</option>
							   </select>
                                    </div>
                                    <div class="field_set col-md-2">
                                        
                                    </div>
                                    <div class="field_set col-md-1"></div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt" style="background:#1b334d;">
                            <ul>
                                
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.059 BTC</h3>
                                <p></p>
                                <p class="price_table">$ 500.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="https://buy.coingate.com">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full focus_sell">
                        <div class="coin_selling_bt" style="background:#1b334d;">
                            <ul>
                                
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.15 BTC</h3>
                                <p></p>
                                <p class="price_table">$ 1000.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="https://buy.coingate.com">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt" style="background:#1b334d;">
                            <ul>
                                
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 0.59 BTC</h3>
                                <p></p>
                                <p class="price_table">$ 5000.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="https://buy.coingate.com">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt" style="background:#1b334d;">
                            <ul>
                                
                            </ul>
                            <div class="coin_price_table">
                                <h3>GET 1.10 BTC</h3>
                                <p></p>
                                <p class="price_table">$ 10000.00</p>
                                <div class="center">
                                    <a class="pay_btn" href="https://buy.coingate.com">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-12 col-xs-12"></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="full testmonial_slider">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner text-center">
                                <!-- Quote 1 -->
                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <div class="center">
                                                    
                                                </div>
                                                
                                                <div class="center">
                                                    
                                                </div>
                                                <div class="center">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <div class="center">
                                                    
                                                </div>
                                                
                                                <div class="center">
                                                    
                                                </div>
                                                <div class="center">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <div class="center">
                                                    
                                                </div>
                                                
                                                <div class="center">
                                                    
                                                </div>
                                                <div class="center">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <!-- Bottom Carousel Indicators -->
                            <!-- Carousel Buttons Next/Prev -->
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12"></div>
            </div>
        </div>
    </section>
    <!-- end section -->
</div>
<%- include('./partials/footer.ejs') %>