<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<%- include('./partials/search.ejs') %>
    <div class="sect s2">
        <div class="cont center_cont">
            <h2>Create and manage your digital portfolio</h2>
            <div class="sub2">CoinRemits makes it easy for you to buy and sell digital assets.</div>
            <div class="features_wrap text-center">
                <div data-w-id="d7b69367-cb57-cdcd-86fb-089e2187e0bf" class="feature_cont mr-4">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_Security_on_ff2u.svg" height="100" alt="Secure" class="imf_1" />
                    </div>
                    <h3>Save your time</h3>
                    <div>Everything is encrypted from end-to-end keeping your digital assets safe when buying, selling
                    or storing.</div>
                </div>
                <div data-w-id="21bfeb76-3ed0-8871-5a79-e3cf2c7336d2" class="feature_cont mr-4">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_fast_loading_0lbh.svg" height="100" alt="Reduce costs" class="imf_2" />
                    </div>
                    <h3>Fast</h3>
                    <div>
                        Built with latest and advanced technologies, CoinRemits is lightweight thus providing near instant buy and sell orders for
                        newbies or seasoned traders.
                    </div>
                </div>
                <div data-w-id="96107eb4-5b4d-71ca-552e-45576d636769" class="feature_cont last">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_building_blocks_n0nc.svg" height="100" alt="Built for you" />
                    </div>
                    <h3>Built for you</h3>
                    <div>
                        People love our easy-to-use products. From local payment methods to customer support, we
                        make your Bitcoin experience the best one.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-id="30657b30-4cf4-5ad8-6f62-ef6ddd0c6614" class="sect s4">
        <div class="cont center_cont">
            <h2 class="h2">Find out more</h2>
            <div class="sub2">CoinRemits streamlines Crypto Payments</div>

            <div class="features_wrap text-center">
                <div data-w-id="d7b69367-cb57-cdcd-86fb-089e2187e0bf" class="feature_cont mr-4 icon_wrap-find b-20">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_btc_p2p_lth5.svg" height="100" alt="Secure" class="imf_1" />
                    </div>
                    <h3>Get your favorite coins</h3>
                    <div>Buy bitcoin, ethereum, ripple and other popular cryptocurrencies</div>
                </div>
                <div data-w-id="21bfeb76-3ed0-8871-5a79-e3cf2c7336d2" class="feature_cont mr-4 icon_wrap-find b-20">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_speed_test_wxl0.svg" height="100" alt="Reduce costs" class="imf_2" />
                    </div>
                    <h3>High spending limits</h3>
                    <div>
                        With our limits, you can buy the coins you want without holding back
                    </div>
                </div>
                <div data-w-id="96107eb4-5b4d-71ca-552e-45576d636769" class="feature_cont last icon_wrap-find b-20">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_completing_6bhr.svg" height="100" alt="Built for you" />
                    </div>
                    <h3>Fast-track verification</h3>
                    <div>
                        Complete your account set up and start purchasing in minutes
                    </div>
                </div>
            </div>
            <!-- <a href="features.html" class="btn_violet">View all features</a> -->
        </div>
    </div>
    <div data-w-id="c48b4a86-bade-c785-450e-c9ba7c2ea81b" class="sect s5">
        <div class="cont center_cont">
            <h2 class="h2">Get started</h2>
            <div class="sub2">
                Starting with CoinRemits takes just a few minutes
            </div>
            <div class="line_weap">
                <div class="step_wrap">
                    <div class="step_f_wr">
                        <img src="/static/user/assets/images/step_icn_01.svg" alt="Register" />
                        <div class="step_text">
                            Sign up and create<br />your wallet
                        </div>
                    </div>
                    <div class="step_f_wr">
                        <img src="/static/user/assets/images/step_icn_02.svg" alt="Send Invitation" />
                        <div class="step_text">
                            Deposit money<br />to your wallet
                        </div>
                    </div>
                    <div class="step_f_wr">
                        <img src="/static/user/assets/images/step_icn_03.svg" alt="Choose Cryptocurrency" />
                        <div class="step_text">
                            Buy CoinRemits<br />and securely store it in your Wallet or send it on easily to friends
                        </div>
                    </div>
                </div>
                <div class="line">
                    <img src="/static/user/assets/images/line.svg" alt="line" class="image-3" />
                </div>
            </div>
        </div>
    </div>
    <div class="sect s6">
        <div class="cont">
            <div class="why_wrap">
                <div data-w-id="0efbc7a1-4eeb-9199-8d52-760648462dfd" class="why_wrap_div">
                    <img src="/static/user/assets/images/il-final.svg" width="528" alt="" />
                </div>
                <div class="why_wrap_div secw">
                    <h2>Accept CoinRemits, get paid in <span style="color:blue">USD</span></h2>
                    <div class="text">
                        <div>
                            Receive funds directly to your bank account with zero price volatility or risk.
                        </div>
                        <div class="sept"></div>
                        <div>
                            Get paid in Bitcoin, Ethereum from anyone anywhere and get settlement in USD instantly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sect s7">
        <div class="cont center_cont">
            <div class="cta_wrap">
                <h2 class="h2_wh">Register your CoinRemits account</h2>
                <a href="#" class="btn_blue"
                    rel="nofollow">Join Now</a>
            </div>
        </div>
        <div class="bg_last">
            <div class="bgl_1">
                <img src="/static/user/assets/images/bgl_01.svg" alt="map" />
                <div class="c1"></div>
                <div class="c2"></div>
                <div class="c3"></div>
            </div>
            <div class="bgl_2">
                <img src="static/user/assets/images/bgl_02.svg" alt="map" />
                <div class="c4"></div>
                <div class="c5"></div>
                <div class="c6"></div>
                <div class="c7"></div>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
