<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>CoinRemit - Buy and Sell Cryptocurrencies</title>
    <meta content="CoinRemit enables you to pay employees around the world quickly and conveniently using crypto"
        name="description" />
    <meta content="Manage cryptocurrency payroll seamlessly" property="og:title" />
    <meta content="CoinRemit enables you to pay employees around the world quickly and conveniently using crypto"
        property="og:description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/static/user/assets/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/static/user/assets/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/static/user/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/static/user/assets/css/paymentx.css" rel="stylesheet" type="text/css" />

    <style>
        @media (min-width: 992px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="39b92d36-d5d5-d633-4e18-abe9f0ce1e56"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="86608a6d-ee73-3446-b3c7-2bd6fa679985"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="8791dfa2-2eed-4602-d953-c2773352600f"] {
                -webkit-transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 70px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="4551afe9-8731-2448-7a9f-41b486ed1375"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="9a64d915-501f-17eb-2997-77915fe595e8"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="e68f1c48-73f3-9432-e838-40a7e9d40bb0"] {
                -webkit-transform: translate3d(0, 144px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 144px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 144px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 144px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="14048d98-f25b-3bf2-d369-6f82c65ba5d3"] {
                -webkit-transform: translate3d(0, -126px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, -126px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, -126px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, -126px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="5769ffdf-d4cc-4506-3238-df69aeed8e33"] {
                -webkit-transform: translate3d(0, -143px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, -143px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, -143px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, -143px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="b6a4d664-ffd7-dfdb-81eb-87179a194875"] {
                -webkit-transform: translate3d(-22px, 22px, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-22px, 22px, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-22px, 22px, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-22px, 22px, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="299857ff-9aec-63d3-eb32-52a394dd85e5"] {
                -webkit-transform: translate3d(22px, 22px, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(22px, 22px, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(22px, 22px, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(22px, 22px, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="ded29a51-82af-dfc6-487a-7a2998249f57"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="5f7a8e0b-f64d-f08c-b8e3-20616555e021"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="7a804660-135b-4003-ab21-1f98e4b6bcde"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="0d71f9bd-3b36-6dec-36b7-95959b71f4ce"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="84b26fe6-3a4a-3a4d-adaa-ac269588f9e9"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="7a434514-763b-601a-f9d5-a5f624feff2e"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }

            html.w-mod-js:not(.w-mod-ix) [data-w-id="5b1e55ec-0658-2b28-7349-27b6ca43aabb"] {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
        }

        @media (max-width: 767px) and (min-width: 480px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="0efbc7a1-4eeb-9199-8d52-760648462dfd"] {
                opacity: 0;
            }
        }

        @media (max-width: 479px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="0efbc7a1-4eeb-9199-8d52-760648462dfd"] {
                opacity: 0;
            }
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>

    <script type="text/javascript">
        WebFont.load({
            google: { families: ["Nunito Sans:regular,600,700,800,900"] }
        });
    </script>

    <link href="icons/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="icons/webclip.png" rel="apple-touch-icon" />
</head>

<body>
    <header class="sect s1">
        <div data-collapse="medium" data-animation="default" data-duration="400"
            data-w-id="9aa8a9a4-7090-63f7-9907-1ce56643ef07" class="navbar w-nav">
            <div class="cont nav-cont">
                <a href="/" class="brand w-nav-brand w--current">
                    <h3 style="color: blue;font-size: 30px;">CoinRemit</h3>
                    <!-- <img src="/static/user/assets/images/TEXT-LOGO.svg" alt="" /> -->
                </a>
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="#" class="payment_logo w-nav-brand">
                        <h3 style="color: blue;font-size: 30px;">CoinRemit</h3>
                        <!-- <img src="/static/user/assets/images/TEXT-LOGO.svg" alt="" /></a> -->
                    <div class="nebu_wrap">
                        <a href="/" class="nlink w-nav-link">Contact</a>
                        <a href="/" class="nlink w-nav-link" rel="nofollow">Help</a>
                    </div>
                    <div class="signup-in_wrap">
                        <a href="/user/register" class="sign_up" rel="nofollow">Sign Up</a>
                        <a href="/user/login" class="sign_in" rel="nofollow">Sign In</a>
                    </div>
                </nav>
                <div class="burger-1 w-nav-button">
                    <div class="b1-bar1"></div>
                    <div class="b1-bar2">
                        <div class="b1-middle"></div>
                    </div>
                    <div class="b1-bar3"></div>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="contheader">
                <div id="w-node-5c4d11094ecb-1d611698" class="text_wrap_header">
                    <h1 data-w-id="9a64d915-501f-17eb-2997-77915fe595e8">
                        The future of money is here
                    </h1>
                    <div data-w-id="4551afe9-8731-2448-7a9f-41b486ed1375" class="sub1">
                        Crypto is the easiest way to buy, sell and accept cryptocurrencies globally.
                    </div>
                </div>
                <div id="w-node-abe9f0ce1e56-1d611698" data-w-id="39b92d36-d5d5-d633-4e18-abe9f0ce1e56"
                    class="im3_cont">
                </div>
                <div class="signup_wrap">
                    <a href="/user/register" class="sc-gzVnrw gJOssB" rel="nofollow">Sign Up</a>
                </div>
            </div>
        </div>
    </header>
    <div class="sect s2">
        <div class="cont center_cont">
            <h2>Create and manage your digital portfolio</h2>
            <div class="sub2">Crypto makes it easy for you to buy and sell digital assets.</div>
            <div class="features_wrap text-center">
                <div data-w-id="d7b69367-cb57-cdcd-86fb-089e2187e0bf" class="feature_cont mr-4">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_Security_on_ff2u.svg" height="100" alt="Secure" class="imf_1" />
                    </div>
                    <h3>Save your time</h3>
                    <div>Everything is encrypted from end-to-end keeping your digital assets safe when buying, selling
                    or storing.</div>
                </div>
                <div data-w-id="21bfeb76-3ed0-8871-5a79-e3cf2c7336d2" class="feature_cont mr-4">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_fast_loading_0lbh.svg" height="100" alt="Reduce costs" class="imf_2" />
                    </div>
                    <h3>Fast</h3>
                    <div>
                        Built with latest and advanced technologies, Crypto is lightweight thus providing near instant buy and sell orders for
                        newbies or seasoned traders.
                    </div>
                </div>
                <div data-w-id="96107eb4-5b4d-71ca-552e-45576d636769" class="feature_cont last">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_building_blocks_n0nc.svg" height="100" alt="Built for you" />
                    </div>
                    <h3>Built for you</h3>
                    <div>
                        People love our easy-to-use products. From local payment methods to customer support, we
                        make your Bitcoin experience the best one.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-id="30657b30-4cf4-5ad8-6f62-ef6ddd0c6614" class="sect s4">
        <div class="cont center_cont">
            <h2 class="h2">Find out more</h2>
            <div class="sub2">COinRemit streamlines invoice processing</div>

            <div class="features_wrap text-center">
                <div data-w-id="d7b69367-cb57-cdcd-86fb-089e2187e0bf" class="feature_cont mr-4 icon_wrap-find b-20">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_btc_p2p_lth5.svg" height="100" alt="Secure" class="imf_1" />
                    </div>
                    <h3>Get your favorite coins</h3>
                    <div>Buy bitcoin, ethereum, ripple and other popular cryptocurrencies</div>
                </div>
                <div data-w-id="21bfeb76-3ed0-8871-5a79-e3cf2c7336d2" class="feature_cont mr-4 icon_wrap-find b-20">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_speed_test_wxl0.svg" height="100" alt="Reduce costs" class="imf_2" />
                    </div>
                    <h3>High spending limits</h3>
                    <div>
                        With our limits, you can buy the coins you want without holding back
                    </div>
                </div>
                <div data-w-id="96107eb4-5b4d-71ca-552e-45576d636769" class="feature_cont last icon_wrap-find b-20">
                    <div class="icon_wrap">
                        <img src="/static/user/assets/images/undraw_completing_6bhr.svg" height="100" alt="Built for you" />
                    </div>
                    <h3>Fast-track verification</h3>
                    <div>
                        Complete your account set up and start purchasing in minutes
                    </div>
                </div>
            </div>
            <!-- <a href="features.html" class="btn_violet">View all features</a> -->
        </div>
    </div>
    <div data-w-id="c48b4a86-bade-c785-450e-c9ba7c2ea81b" class="sect s5">
        <div class="cont center_cont">
            <h2 class="h2">Get started</h2>
            <div class="sub2">
                Starting with CoinRemit takes just a few minutes
            </div>
            <div class="line_weap">
                <div class="step_wrap">
                    <div class="step_f_wr">
                        <img src="/static/user/assets/images/step_icn_01.svg" alt="Register" />
                        <div class="step_text">
                            Sign up and create<br />your wallet
                        </div>
                    </div>
                    <div class="step_f_wr">
                        <img src="/static/user/assets/images/step_icn_02.svg" alt="Send Invitation" />
                        <div class="step_text">
                            Deposit money<br />to your wallet
                        </div>
                    </div>
                    <div class="step_f_wr">
                        <img src="/static/user/assets/images/step_icn_03.svg" alt="Choose Cryptocurrency" />
                        <div class="step_text">
                            Buy crypto<br />and securely store it in your Wallet or send it on easily to friends
                        </div>
                    </div>
                </div>
                <div class="line">
                    <img src="/static/user/assets/images/line.svg" alt="line" class="image-3" />
                </div>
            </div>
        </div>
    </div>
    <div class="sect s6">
        <div class="cont">
            <div class="why_wrap">
                <div data-w-id="0efbc7a1-4eeb-9199-8d52-760648462dfd" class="why_wrap_div">
                    <img src="/static/user/assets/images/il-final.svg" width="528" alt="" />
                </div>
                <div class="why_wrap_div secw">
                    <h2>Accept crypto, get paid in <span style="color:blue">USD</span></h2>
                    <div class="text">
                        <div>
                            Receive funds directly to your bank account with zero price volatility or risk.
                        </div>
                        <div class="sept"></div>
                        <div>
                            Get paid in Bitcoin, Ethereum from anyone anywhere and get settlement in USD instantly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="sect s9">
        <div class="cont">
            <div class="top_footer">
                <div class="logosocial">
                    <div>
                        <a href="/" class="w-inline-block w--current">
                            <!-- <img src="/static/user/assets/images/p2.svg" alt="" /> -->
                            <h3 style="color: blue;font-size: 30px;">CoinRemit</h3>
                        </a>
                        <div class="soc_wrap">
                            <a href="#" class="soc w-inline-block">
                                <img src="/static/user/assets/images/twitter.svg" alt="twitter" />
                            </a>
                            <a href="#" class="soc w-inline-block">
                                <img src="/static/user/assets/images/fb.svg" alt="facebook" />
                            </a>
                            <a href="#" class="soc w-inline-block">
                                <img src="/static/user/assets/images/iconmonstr-medium-1.svg" alt="medium" />
                            </a>
                            <a href="#" class="soc w-inline-block">
                                <img src="/static/user/assets/images/telegram.svg" alt="telegram" />
                            </a>

                            <a href="#" target="_blank"
                                class="soc w-inline-block">
                                <img src="/static/user/assets/images/linkedin.svg" alt="linkedin" /></a>
                        </div>
                    </div>
                </div>
                <div class="links_footer">
                    <div class="link_wrapper">
                        <h4>Company</h4>
                        <div class="links">
                            <a href="#" class="footer_link">Contact</a>
                            <a href="help@coinremit.com" class="footer_link" target="_blank"
                                rel="nofollow">Help</a>
                        </div>
                        <br /><br />
                    </div>
                    <div class="link_wrapper seclw">
                        <h4>Legal</h4>
                        <div class="links">
                            <a href="#" class="footer_link">Privacy policy</a>
                            <a href="#" class="footer_link">Terms of use</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom_footer_wrap">
                <div>© CoinRemit 2019. All rights reserved.</div>
            </div>
        </div>
    </footer>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static/user/assets/js/paymentx.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        $(document).ready(function () {
            if (!$.cookie("alert")) {
                $(".popup-overlay").show();
                var date = new Date();
                date.setTime(date.getTime() + 24 * 60 * 60 * 1000);
                $.cookie("alert", true, { expires: date });
            }
        });
    </script>
</body>

</html>