<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div>
    <section id="inner_page_infor" class="innerpage_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="inner_page_info">
                            <h3>Market Data</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">Market Data</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('./partials/sect.ejs') %>

    <!-- section -->

    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Crypto Live Market Data</span></h2>
                            <p>Minimum purchase is 50 Coins tokens. Get a bonus from 5% to 25%<br>on every token purchase</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="center">
                            <iframe style="position: static; visibility: visible; display: block; width: 500px; height: 457px; padding: 0px; border: none; max-width: 100%; min-width: 100%; min-height: 300px; margin-top: 10px; margin-bottom: 10px;"
                                src="https://charts.bitcoin.com/embed/market-cap#5moc"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

</div>
<%- include('./partials/footer.ejs') %>