<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<%- include('./partials/search2.ejs') %>
<div class="cont">
    <p>
        <meta charset="utf-8">
      </p>
      <p>How We Use &amp; Protect Your Information</p>
      <p>Coinremits (“Coinremits” or “we”) is providing this notice on its behalf, and on behalf of the client assets it manages, to explain their information collection practices and other important information. These measures reflect our commitment to maintaining the privacy of your confidential information. We appreciate the confidence you have shown by entrusting us with your assets.</p>
      <p>
        <br>
      </p>
      <p>Information We Collect</p>
      <p>We may collect several types of nonpublic personal information about you from the following sources:</p>
      <p>Information we receive about you on applications and other forms including subscription documents, questionnaires and online registration forms, whether we receive the form in writing or electronically. For example, this information may include your name, e-mail address, financial data which may be required to onboard our services.</p>
      <p>
        <br>
      </p>
      <p>&nbsp;Information about your transactions and account history with us, our affiliates and others, including initial and follow-on subscriptions, transfers and withdrawals or redemptions.</p>
      <p>&nbsp;Information we receive about you from third parties such as solicitors, brokers, selling agents, advisers, product sponsors, exchanges, clearing firms and/or their respective service providers.</p>
      <p>&nbsp;Information from online forms you complete.</p>
      <p>&nbsp;The website is not directed toward children under the age of 18, and we do not knowingly collect personal information from children under 18.</p>
      <p>
        <br>
      </p>
      <p>Disclosure and Use of Your Information</p>
      <p>We do not disclose your personal or financial information, whether you are our current or former client, without your authorization or direction, except as disclosed below. We may share information about you with affiliated or non-affiliated service providers or other third parties</p>
      <p>(i) for them to assist us in providing services to you,</p>
      <p>(ii) as part of marketing arrangements designed to jointly offer a product or service,</p>
      <p>(iii) as may be required by regulatory authorities or law enforcement officials,</p>
      <p>(iv) to the extent reasonably necessary to prevent fraud and unauthorized transactions, or as otherwise as permitted by law.</p>
      <p>
        <br>
      </p>
      <p>Those receiving information about you under the circumstances described above are not permitted to use your information for any purpose other than to assist our servicing of your account(s), including helping us improve the services we offer, or as permitted by law. If you choose to withhold personal information requested by us, we may not be able to provide services to you, and you may not be able to gain access to certain areas of our website.</p>
      <p>
        <br>
      </p>
      <p>Confidentiality and Security; Control of Your Information</p>
      <p>We restrict access to nonpublic personal information about you to those employees and third parties who need to know that information to assist us in providing services to you. We maintain physical, electronic and procedural safeguards consistent with international standards to protect your nonpublic personal information. We store and use the information we collect about you in roles as both a “Controller” (i.e., data user) and a “Processor” (i.e., data storage) of that information. We will also utilize third parties as Processors to store and archive information it collects from you (e.g., via cloud-based services offered), for which service agreements are in place to address confidentiality, security, and compliance with applicable privacy directives and laws.</p>
      <p>
        <br>
      </p>
      <p>Use of the Internet “Cookies”</p>
      <p>We may use cookies on our website to enhance a visitor’s experience on the site and to make decisions about ways to improve the website. A cookie (or browser cookie) is a small file placed on the hard drive of your computer. It contains information about preferences for using a website that has been established by someone using a browser on that computer. Unless you have adjusted your browser setting so that it will refuse cookies, our system may issue cookies when you access or use our website. Cookies are used to store visitors’ preferences, collect information about how and how often visitors use the website, analyze user trends and improve the website.</p>
      <p>
        <br>
      </p>
      <p>We may disclose the presence of a cookie to third parties to advertise our services. For example, we may ask advertisers to display ads promoting our services on other websites based on the presence of a cookie. We may also contract with third-party advertising networks, including Google, that use cookies, or other tracking technologies to collect certain non-personal information about your activities on the website and on third-party websites to provide you with targeted advertising based upon your interests. We may also use cookies delivered by third parties to track the performance of our advertisements.</p>
      <p>You may be prompted to accept our use of cookies on the website. You may refuse to accept the use of cookies when prompted on the site, or you may refuse to accept by activating the appropriate privacy settings on your browser. Most recent browsers provide the flexibility to reject all cookies, accept all cookies, or accept cookies only from sites you trust. Please note that if you refuse to accept browser cookies, your access to or use of certain portions of the website may be limited.</p>
</div>
<%- include('./partials/footer.ejs') %>
   