<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div>

    <!-- section -->
    <section id="inner_page_infor" class="innerpage_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="inner_page_info">
                            <h3>Our Services</h3>
                            <ul>
                                <li><a href="leocur.com">Home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">Our Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- section -->

    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Our Amazing Service</span></h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row service_main">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full service_section">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="center">
                                <img src="/static/fnt/images/s01.png" alt="#" />
                            </div>
                            <div class="center">
                                <h3>Margin Tranding</h3>
                            </div>
                            <div class="center">
                                <p>Margin is a customer concept</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="background: #f6f6f6;">
                            <div class="center">
                                <img src="/static/fnt/images/s02.png" alt="#" />
                            </div>
                            <div class="center">
                                <h3>Strong Security</h3>
                            </div>
                            <div class="center">
                                <p>Your keys are protected with Secure Enclave and biometric authentication technology</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="center">
                                <img src="/static/fnt/images/s03.png" alt="#" />
                            </div>
                            <div class="center">
                                <h3>Instant Exchange</h3>
                            </div>
                            <div class="center">
                                <p>Market moving? Don’t stress. Buy, sell, and exchange crypto without leaving your secure wallet</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="background: #f6f6f6;">
                            <div class="center">
                                <img src="/static/fnt/images/s04.png" alt="#" />
                            </div>
                            <div class="center">
                                <h3>Mobile App</h3>
                            </div>
                            <div class="center">
                                <p>working on it</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="center">
                                <img src="/static/fnt/images/s05.png" alt="#" />
                            </div>
                            <div class="center">
                                <h3>27/7 Trading</h3>
                            </div>
                            <div class="center">
                                <p>If you’re awake, we are too. When you need help with your account, our team of experts will work directly with you via our 24/7 live chat to reach a quick and efficient resolution</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="background: #f6f6f6;">
                            <div class="center">
                                <img src="/static/fnt/images/s06.png" alt="#" />
                            </div>
                            <div class="center">
                                <h3>Free Consulting</h3>
                            </div>
                            <div class="center">
                                <p>No one in the crypto space starts with a clean slate. Each person comes in with their own skills and finds ways to leverage them in the decentralized space. The best part is that the demand for blockchain expertise combined with traditional skills is on the rise. So, one can begin offering consulting services to newer blockchain projects</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

    <!-- section -->

    <section class="layout_padding_2 dark_bg white_fonts">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="col-md-5 col-xs-12">
                            <div class="full">
                                <div class="banner_icon">
                                    <img class="img-responsive" src="/static/fnt/images/ser_icon_1.png" alt="#" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="full" style="margin-top:50px;">
                                <h2 class="heading_style2">Everything You Need</h2>
                                    <p class="left_text">Bitcoin is a digital asset that only exists online. It’s often described as being like an electronic combination of cash and gold</p>
                                    <p class="left_text">Bitcoin is meant to be spendable like cash, but also able to hold a lot of value similar to gold. However, unlike cash or gold, Bitcoin is entirely digital </p>
                                    <div class="https://www.finder.com/bitcoin"><a class="btn main_btn" href="https://www.finder.com/bitcoin">Read More</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

    <!-- section -->

    <section class="layout_padding_2" style="background: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="col-md-5 col-xs-12 pull-right">
                            <div class="full">
                                <div class="banner_icon">
                                    <img class="img-responsive" src="/static/fnt/images/ser_icon_2.png" alt="#" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="full" style="margin-top:30px;">
                                <h2 class="heading_style2">Everything You Need in Your Wallet</h2>
                                    <p class="left_text">A Bitcoin wallet is a software program where Bitcoins are stored.</p>
                                    <p class="left_text">To be technically accurate, Bitcoins are not stored anywhere; there is a private key (secret number) for every Bitcoin address that is saved in the Bitcoin wallet of the person who owns the balance. Bitcoin wallets facilitate sending and receiving Bitcoins and gives ownership of the Bitcoin balance to the user. The Bitcoin wallet comes in many forms; desktop, mobile, web, and hardware are the four main types of wallets </p>
                                    <div class=""><a class="https://www.investopedia.com/terms/b/bitcoin-wallet.asp" href="https://www.investopedia.com/terms/b/bitcoin-wallet.asp">Read More</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

</div>
<%- include('./partials/footer.ejs') %>