<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<%- include('./partials/search2.ejs') %>
    <div class="sect r">
        <div class="cont">
            <div class="why_wrap">
                <div data-w-id="0efbc7a1-4eeb-9199-8d52-760648462dfd" class="why_wrap_div">
                    <img src="/static/user/assets/images/il-final.svg" width="528" alt="" />
                </div>
                <div class="why_wrap_div secw">
                    <h2>Accept crypto, get paid in <span style="color:blue">USD</span></h2>
                    <div class="text">
                        <div>
                            Receive funds directly to your bank account with zero price volatility or risk.
                        </div>
                        <div class="sept"></div>
                        <div>
                            Get paid in Bitcoin, Ethereum from anyone anywhere and get settlement in USD instantly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
