<%- include('../../partials/top') %>
<div class="padding">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="box">
                <div class="box-body">
                        <div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="form-group text-center">
                                        <img src="/static/user/assets/success.jpg" width="300vh" style="align-items: center;">
                                        <h6>Withdrawal request Successfully Created!!! Wait for Verification</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('../../partials/footer') %>