<%- include('./layout/head') %>
    <div class="wrapper">
        <%- include('../partials/flash') %>
        <div class="container">
            <div class="loginWrapper">
                <div class="logo"></div>
            </div>
            <div class="formContainer">
                <form method="POST" action="login" name="signin_form" onsubmit="return validate(event, 'signin_form')">
                    <div class="fieldsWrapperAnimated">
                        <div>
                            <div class="title gray">
                                Holla, Login to your account
                            </div>
                            <div class="inputLabel gray-70">
                                Please type your email address to sign in or <br/>
                                <!-- <a href='/user/register' class="text-primary">Create Account</a> -->
                            </div>
                            <div class="inputs">
                                <form method="post" action='user/login'>
                                    <div class="sc-bxivhb jGVOBN">
                                        <div class="sc-bZQynM hfyoFp">
                                            <div class="input-wrapper">
                                                <input
                                                id="inputId_email"
                                                class="sc-bwzfXH ioKZsq"
                                                type="email"
                                                name="email"
                                                placeholder="your_mail@domain.com"
                                                required
                                                onblur="checkEmailField('signin_form')"
                                                />
                                            </div>
                                            <div id="email_error" class="sc-ifAKCX cPFPGG capture red d_none">
                                                Please enter valid email address
                                            </div>
                                        </div>

                                        <div class="sc-bZQynM hfyoFp">
                                            <div class="input-wrapper">
                                                <input
                                                    id="inputId_password"
                                                    class="sc-bwzfXH ioKZsq"
                                                    type="password"
                                                    name="password"
                                                    placeholder="your password"
                                                    required
                                                    minlength="6"
                                                    onblur="checkPasswordField('signin_form')"
                                                />
                                            </div>
                                            <div id="password_error" class="sc-ifAKCX cPFPGG capture red d_none">
                                                Password cannot be less than 8 characters and cannot contain 
                                            </div>
                                        </div>

                                        <div class="sc-bZQynM hfyoFp">
                                            <div class="input-wrapper">
                                                <button
                                                    id="emailPageActionButton"
                                                    type="submit"
                                                    class="sc-gzVnrw gJOssB"
                                                >
                                                    Sign In
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="footer capture gray-70">
                © CoinRemits2019. All rights reserved.
            </div>
        </div>
    </div>
<%- include('./layout/footer') %>