<%- include('../partials/head') %>
<div class="d-flex flex align-items-center h-v info theme">
    <div class="text-center p-5 w-100">
        <h1 class="display-5 my-5">Internal Error.</h1>
        <p>Go back to <a href="/<%=url%>" class="b-b b-white">home</a> or <a href="#" class="b-b b-white">contact us</a>
            about a problem.</p>
        <p class="my-5 text-muted h4">-- 500 --</p>
    </div>
</div>
<%- include('../partials/footer') %>